<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Profile Cards</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
        <!--
        CSS
        ============================================= -->
        <link rel="stylesheet" href="css/linearicons.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/magnific-popup.css">
        <link rel="stylesheet" href="css/nice-select.css">					
        <link rel="stylesheet" href="css/animate.min.css">
        <link rel="stylesheet" href="css/owl.carousel.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/profile.css">
    </head>
    <body>
        
        <div class="profile">
            <div class="container">
                <div class="row">
                    <div class="cards col-lg-3">
                        <!--Start Card Box-->
                        <div class="box">
                            <div class="imgBX">
                                <img src="img/pf1.jpeg" alt="profile">
                            </div>
                            <div class="our-wish">
                                <ul>
                                    <li><a href="#">AC</a></li>
                                    <li><a href="#">Smoking</a></li>
                                    <li><a href="#">Elvator</a></li>
                                    <li><a href="#">Noisey</a></li>
                                </ul>
                            </div> 
                            <div class="title mt-5">
                                    <div class="card-body mt-5">
                                        <h5 class="card-title mt-5">Abdallah Muhammed<br><span>Roommates</span></h5>
                                        <p class="card-text">I'm Looking Form  a Room With AC, Smoking , Noisey , Elvator</p>
                                        <a href="#" class="btn btn-primary">See More</a>
                                    </div>
                            </div>                                                                                                       
                        </div>                        
                    </div>
                    <div class="cards col-lg-3">
                        <!--Start Card Box-->
                        <div class="box">
                            <div class="imgBX">
                                <img src="img/pf2.jpg" alt="profile">
                            </div>
                            <div class="our-wish">
                                <ul>
                                    <li><a href="#">AC</a></li>
                                    <li><a href="#">Smoking</a></li>
                                    <li><a href="#">Elvator</a></li>
                                    <li><a href="#">Noisey</a></li>
                                </ul>
                            </div> 
                            <div class="title mt-5">
                                    <div class="card-body mt-5">
                                        <h5 class="card-title mt-5">Abdallah Muhammed<br><span>Roommates</span></h5>
                                        <p class="card-text">I'm Looking Form  a Room With AC, Smoking , Noisey , Elvator</p>
                                        <a href="#" class="btn btn-primary">See More</a>
                                    </div>
                            </div>                                                                                                       
                        </div>                        
                    </div> 
                    <div class="cards col-lg-3">
                        <!--Start Card Box-->
                        <div class="box">
                            <div class="imgBX">
                                <img src="img/pf3.jpg" alt="profile">
                            </div>
                            <div class="our-wish">
                                <ul>
                                    <li><a href="#">AC</a></li>
                                    <li><a href="#">Smoking</a></li>
                                    <li><a href="#">Elvator</a></li>
                                    <li><a href="#">Noisey</a></li>
                                </ul>
                            </div> 
                            <div class="title mt-5">
                                    <div class="card-body mt-5">
                                        <h5 class="card-title mt-5">Abdallah Muhammed<br><span>Roommates</span></h5>
                                        <p class="card-text">I'm Looking Form  a Room With AC, Smoking , Noisey , Elvator</p>
                                        <a href="#" class="btn btn-primary">See More</a>
                                    </div>
                            </div>                                                                                                       
                        </div>                        
                    </div>
                    <div class="cards col-lg-3">
                        <!--Start Card Box-->
                        <div class="box">
                            <div class="imgBX">
                                <img src="img/pf4.jpeg" alt="profile">
                            </div>
                            <div class="our-wish">
                                <ul>
                                    <li><a href="#">AC</a></li>
                                    <li><a href="#">Smoking</a></li>
                                    <li><a href="#">Elvator</a></li>
                                    <li><a href="#">Noisey</a></li>
                                </ul>
                            </div> 
                            <div class="title mt-5">
                                    <div class="card-body mt-5">
                                        <h5 class="card-title mt-5">Abdallah Muhammed<br><span>Roommates</span></h5>
                                        <p class="card-text">I'm Looking Form  a Room With AC, Smoking , Noisey , Elvator</p>
                                        <a href="#" class="btn btn-primary">See More</a>
                                    </div>
                            </div>                                                                                                       
                        </div>                        
                    </div>
                    <div class="cards col-lg-3">
                        <!--Start Card Box-->
                        <div class="box">
                            <div class="imgBX">
                                <img src="img/pf5.jpeg" alt="profile">
                            </div>
                            <div class="our-wish">
                                <ul>
                                    <li><a href="#">AC</a></li>
                                    <li><a href="#">Smoking</a></li>
                                    <li><a href="#">Elvator</a></li>
                                    <li><a href="#">Noisey</a></li>
                                </ul>
                            </div> 
                            <div class="title mt-5">
                                    <div class="card-body mt-5">
                                        <h5 class="card-title mt-5">Abdallah Muhammed<br><span>Roommates</span></h5>
                                        <p class="card-text">I'm Looking Form  a Room With AC, Smoking , Noisey , Elvator</p>
                                        <a href="#" class="btn btn-primary">See More</a>
                                    </div>
                            </div>                                                                                                       
                        </div>                        
                    </div>
                    <div class="cards col-lg-3">
                        <!--Start Card Box-->
                        <div class="box">
                            <div class="imgBX">
                                <img src="img/pf6.jpeg" alt="profile">
                            </div>
                            <div class="our-wish">
                                <ul>
                                    <li><a href="#">AC</a></li>
                                    <li><a href="#">Smoking</a></li>
                                    <li><a href="#">Elvator</a></li>
                                    <li><a href="#">Noisey</a></li>
                                </ul>
                            </div> 
                            <div class="title mt-5">
                                    <div class="card-body mt-5">
                                        <h5 class="card-title mt-5">Abdallah Muhammed<br><span>Roommates</span></h5>
                                        <p class="card-text">I'm Looking Form  a Room With AC, Smoking , Noisey , Elvator</p>
                                        <a href="#" class="btn btn-primary">See More</a>
                                    </div>
                            </div>                                                                                                       
                        </div>                        
                    </div>
                    <div class="cards col-lg-3">
                        <!--Start Card Box-->
                        <div class="box">
                            <div class="imgBX">
                                <img src="img/pf1.jpeg" alt="profile">
                            </div>
                            <div class="our-wish">
                                <ul>
                                    <li><a href="#">AC</a></li>
                                    <li><a href="#">Smoking</a></li>
                                    <li><a href="#">Elvator</a></li>
                                    <li><a href="#">Noisey</a></li>
                                </ul>
                            </div> 
                            <div class="title mt-5">
                                    <div class="card-body mt-5">
                                        <h5 class="card-title mt-5">Abdallah Muhammed<br><span>Roommates</span></h5>
                                        <p class="card-text">I'm Looking Form  a Room With AC, Smoking , Noisey , Elvator</p>
                                        <a href="#" class="btn btn-primary">See More</a>
                                    </div>
                            </div>                                                                                                       
                        </div>                        
                    </div>
                    <div class="cards col-lg-3">
                        <!--Start Card Box-->
                        <div class="box">
                            <div class="imgBX">
                                <img src="img/pf3.jpg" alt="profile">
                            </div>
                            <div class="our-wish">
                                <ul>
                                    <li><a href="#">AC</a></li>
                                    <li><a href="#">Smoking</a></li>
                                    <li><a href="#">Elvator</a></li>
                                    <li><a href="#">Noisey</a></li>
                                </ul>
                            </div> 
                            <div class="title mt-5">
                                    <div class="card-body mt-5">
                                        <h5 class="card-title mt-5">Abdallah Muhammed<br><span>Roommates</span></h5>
                                        <p class="card-text">I'm Looking Form  a Room With AC, Smoking , Noisey , Elvator</p>
                                        <a href="#" class="btn btn-primary">See More</a>
                                    </div>
                            </div>                                                                                                       
                        </div>                        
                    </div>
                    <div class="cards col-lg-3">
                        <!--Start Card Box-->
                        <div class="box">
                            <div class="imgBX">
                                <img src="img/pf2.jpg" alt="profile">
                            </div>
                            <div class="our-wish">
                                <ul>
                                    <li><a href="#">AC</a></li>
                                    <li><a href="#">Smoking</a></li>
                                    <li><a href="#">Elvator</a></li>
                                    <li><a href="#">Noisey</a></li>
                                </ul>
                            </div> 
                            <div class="title mt-5">
                                    <div class="card-body mt-5">
                                        <h5 class="card-title mt-5">Abdallah Muhammed<br><span>Roommates</span></h5>
                                        <p class="card-text">I'm Looking Form  a Room With AC, Smoking , Noisey , Elvator</p>
                                        <a href="#" class="btn btn-primary">See More</a>
                                    </div>
                            </div>                                                                                                       
                        </div>                        
                    </div>                                                                                                                                                                                
                </div>
            </div>
        </div>

        <script src="js/vendor/jquery-2.2.4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="js/vendor/bootstrap.min.js"></script>			
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
          <script src="js/easing.min.js"></script>			
        <script src="js/hoverIntent.js"></script>
        <script src="js/superfish.min.js"></script>	
        <script src="js/jquery.ajaxchimp.min.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>	
        <script src="js/owl.carousel.min.js"></script>			
        <script src="js/jquery.sticky.js"></script>
        <script src="js/jquery.nice-select.min.js"></script>			
        <script src="js/parallax.min.js"></script>		
        <script src="js/mail-script.js"></script>	
        <script src="js/main.js"></script>	
    </body>
</html>



